/* Fait en sorte que le footer reste en bas de page */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
}

.project-icon {
	height: 64px;
}
