<!doctype html>
<html lang="fr" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Corundum est une organisation proposant aux utilisateurs divers produits">
    <title>Corundum - Maintenance</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="icon" href="../../assets/img/icon.png">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Corundum">
    <meta property="og:url" content="https://corundum.fr/">
    <meta property="og:image" content="https://corundum.fr/assets/img/banner.png">
    <meta property="og:description" content="Notre mission ? Proposer des outils simples, gratuits et accessibles de tous pour vous accompagner au quotidien. Avec des valeurs fortes et un esprit communautaire">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="../../assets/img/logo.png" alt="Logo" height="30" class="d-inline-block align-text-top rounded-circle">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html">Accueil</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Nous
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                            <li><a class="dropdown-item" href="../about.html">À propos</a></li>
                            <li><a class="dropdown-item" href="../team.html">Équipe</a></li>
                            <li><a class="dropdown-item" href="../graphic-charter.html">Charte graphique</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Projets
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                            <li><a class="dropdown-item" href="maintenance.html">Maintenance</a></li>
                            <li><a class="dropdown-item active" aria-current="page" href="quick.html">Quick</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container flex-fill">
        <section class="presentation mt-4 text-center">
            <h2 class="title">Quick</h2>
            <p class="text"><span class="fw-semibold">Corundum Quick</span> est un site permettant de télécharger des applications via <a href="https://brew.sh/fr" target="_blank" class="link fw-semibold">Homebrew</a>.</p>
            <a href="https://corundum.fr/quick" target="_blank" class="btn btn-primary">Ouvrir <i class="ri-arrow-right-up-line"></i></a>
            <img src="../../assets/img/captures/quick.png" alt="Capture d'écran" class="w-100 mt-2">
        </section>
        <section class="functions text-center">
            <h2 class="title">Fonctionnalités</h2>
            <div class="row row-cols-1 row-cols-md-3 g-3 mt-2">
                <div class="col">
                    <div class="card">
                        <div class="card-body text-center">
                            <i class="ri-file-download-line fs-1"></i>
                            <h5 class="card-title">Téléchargement d'application</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body text-center">
                            <i class="ri-beer-fill fs-1"></i>
                            <h5 class="card-title">Compatibilité avec Homebrew</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body text-center">
                            <i class="ri-mac-line fs-1"></i>
                            <h5 class="card-title">Assistant compatibilité</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body text-center">
                            <i class="ri-zoom-in-fill fs-1"></i>
                            <h5 class="card-title">Détails d'application</h5>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body text-center">
                            <i class="ri-palette-fill fs-1"></i>
                            <h5 class="card-title">Personnalisation</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="functions text-center mt-4">
            <h2 class="title">Avantages</h2>
            <p class="text">Ces comparaisons se basent sur <a href="https://ninite.com/" target="_blank" class="link">Ninite</a> et <a href="https://macapps.link/" target="_blank" class="link">macapps.link</a>. L'étude a été réalisée en avril 2025.</p>
            <table class="table text-start">
                <thead>
                <tr>
                    <th scope="col">Fonction</th>
                    <th scope="col">Quick</th>
                    <th scope="col">Ninite</th>
                    <th scope="col">macapps.link</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Téléchargement d'application</th>
                    <td class="text-success"><i class="ri-checkbox-circle-fill"></i></td>
                    <td class="text-success"><i class="ri-checkbox-circle-fill"></i></td>
                    <td class="text-success"><i class="ri-checkbox-circle-fill"></i></td>
                </tr>
                <tr>
                    <th scope="row">Compatibilité avec Homebrew</th>
                    <td class="text-success"><i class="ri-checkbox-circle-fill"></i></td>
                    <td class="text-danger"><i class="ri-close-circle-fill"></i></td>
                    <td class="text-danger"><i class="ri-close-circle-fill"></i></td>
                </tr>
                <tr>
                    <th scope="row">Assistant compatibilité</th>
                    <td class="text-success"><i class="ri-checkbox-circle-fill"></i></td>
                    <td class="text-danger"><i class="ri-close-circle-fill"></i></td>
                    <td class="text-danger"><i class="ri-close-circle-fill"></i></td>
                </tr>
                <tr>
                    <th scope="row">Détails d'application</th>
                    <td class="text-success"><i class="ri-checkbox-circle-fill"></i></td>
                    <td class="text-danger"><i class="ri-close-circle-fill"></i></td>
                    <td class="text-danger"><i class="ri-close-circle-fill"></i></td>
                </tr>
                <tr>
                    <th scope="row">Personnalisation</th>
                    <td class="text-success"><i class="ri-checkbox-circle-fill"></i></td>
                    <td class="text-danger"><i class="ri-close-circle-fill"></i></td>
                    <td class="text-success"><i class="ri-checkbox-circle-fill"></i></td>
                </tr>
                </tbody>
            </table>
        </section>
        <section class="why text-center mt-4">
            <h2 class="title">Pourquoi Quick ?</h2>
            <p class="text w-50 mx-auto"><span class="fw-semibold">Corundum Quick</span> est sans doute le moyen le plus simple et fiable pour télécharger des applications.</p>
            <p class="text w-50 mx-auto">Compatible avec <span class="fw-semibold">macOS</span> et <span class="fw-semibold">GNU/Linux</span> (selon les logiciels) et utilisant <span class="fw-semibold">Homebrew</span>, la logithèque de logiciels est impressionnante et adaptée aux besoins de tous.</p>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a href="https://corundum.fr" target="_blank" class="btn btn-primary">Ouvrir <i class="ri-arrow-right-up-line"></i></a>
                <a href="#" class="btn btn-secondary">Retourner en haut</a>
            </div>
        </section>
    </div>
    <footer class="container py-5">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5>Corundum</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">À propos</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Équipe</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Charte graphique</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-2 mb-3">
                <h5>Projets</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="maintenance.html" class="nav-link p-0 text-body-secondary">Maintenance</a></li>
                    <li class="nav-item mb-2"><a href="quick.html" class="nav-link p-0 text-body-secondary">Quick</a></li>
                </ul>
            </div>
        </div>
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>Conçu par Corundum</p>
            <ul class="list-unstyled d-flex">
                <li class="ms-3"><a class="link-body-emphasis link-underline-opacity-0 fs-3" href="https://bsky.app/profile/corundumproject.bsky.social" target="_blank"><i class="ri-bluesky-fill"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis link-underline-opacity-0 fs-3" href="https://github.com/corundumproject/" target="_blank"><i class="ri-github-fill"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis link-underline-opacity-0 fs-3" href="https://discord.gg/2zX67vqh6b/" target="_blank"><i class="ri-discord-fill"></i></a></li>
            </ul>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>