<!doctype html>
<html data-bs-theme="dark" lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="Corundum est une organisation proposant aux utilisateurs divers produits" name="description">
    <title>Corundum - Quick</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet">
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link href="../../assets/img/icon.png" rel="icon">
    <meta content="website" property="og:type">
    <meta content="Corundum Quick" property="og:title">
    <meta content="https://corundum.fr/views/projects/quick.html" property="og:url">
    <meta content="https://corundum.fr/assets/img/banner/quick.png" property="og:image">
    <meta content="Téléchargez toutes vos applications au même endroit et en un éclair. Tout simplement."
          property="og:description">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" href="../../index.html">
            <img alt="Logo" class="d-inline-block align-text-top rounded-circle me-1" height="30"
                 src="../../assets/img/logo.png">
            Corundum
        </a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../news.html">Actualités</a>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       role="button">
                        Nous
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <li><a class="dropdown-item" href="../about.html">À propos</a></li>
                        <li><a class="dropdown-item" href="../team.html">Équipe</a></li>
                        <li><a class="dropdown-item" href="../graphic-charter.html">Charte graphique</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                       role="button">
                        Projets
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                        <li><a class="dropdown-item" href="../../views/projects.html">Tous nos projets</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="maintenance.html">Maintenance</a></li>
                        <li><a aria-current="page" class="dropdown-item active" href="quick.html">Quick</a></li>
                        <li><a class="dropdown-item" href="fast.html">Fast</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container flex-fill">
    <section class="presentation px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-4 fw-bold text-body-emphasis">Quick</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Téléchargez toutes vos applications au même endroit et en un éclair. <br> Tout
                simplement.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="https://corundum.fr/quick" target="_blank">Ouvrir
                    <i class="ri-arrow-right-up-line"></i></a>
                <a class="btn btn-outline-secondary btn-lg px-4" href="#start">Découvrir</a>
            </div>
        </div>
        <div class="overflow-hidden" style="max-height: 40vh;">
            <div class="container px-5">
                <img alt="Capture d'écran" class="img-fluid mb-4" height="500"
                     loading="lazy" src="../../assets/img/captures/quick/main.png" width="700">
            </div>
        </div>
    </section>
    <section class="discover container px-4 py-5" id="start">
        <div class="row featurette g-4">
            <div class="col-md-7 d-flex flex-column justify-content-center text-center text-md-start order-1 order-md-0">
                <h2 class="featurette-heading fw-normal lh-1">Accueil</h2>
                <p class="lead">Une page d'accueil incroyablement efficace et rapide à prendre en main.</p>
            </div>
            <div class="col-md-5 order-0 order-md-1">
                <div class="overflow-hidden">
                    <img alt="Accueil" class="img-fluid w-100" src="../../assets/img/captures/quick/main.png">
                </div>
            </div>
        </div>
        <div class="row featurette g-4 mt-5">
            <div class="col-md-7 d-flex flex-column justify-content-center text-center text-md-end order-1">
                <h2 class="featurette-heading fw-normal lh-1">Paramètres</h2>
                <p class="lead">Une interface personnalisable pour correspondre aux besoins unique de chacun.</p>
            </div>
            <div class="col-md-5 order-0">
                <div class="overflow-hidden">
                    <img alt="Paramètres" class="img-fluid w-100" src="../../assets/img/captures/quick/settings.png">
                </div>
            </div>
        </div>
        <div class="row featurette g-4 mt-5">
            <div class="col-md-7 d-flex flex-column justify-content-center text-center text-md-start order-1 order-md-0">
                <h2 class="featurette-heading fw-normal lh-1">Détails</h2>
                <p class="lead">Pour connaître la moindre information avant de se décider.</p>
            </div>
            <div class="col-md-5 order-0 order-md-1">
                <div class="overflow-hidden">
                    <img alt="Détails"
                         class="img-fluid w-100"
                         src="../../assets/img/captures/quick/details.png">
                </div>
            </div>
        </div>
    </section>
    <section class="functions container px-4 py-5 text-center">
        <h2 class="title">Fonctionnalités</h2>
        <div class="row row-cols-1 row-cols-md-3 g-3 mt-2">
            <div class="col">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="ri-file-download-line fs-1"></i>
                        <h5 class="card-title">Téléchargement d'application</h5>
                        <p class="card-text text-muted">Téléchargez vos applications préférées en une commande.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="ri-beer-fill fs-1"></i>
                        <h5 class="card-title">Compatibilité avec Homebrew</h5>
                        <p class="card-text text-muted">Toutes les applications proposées sont mises à disposition grâce
                            à Homebrew.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="ri-mac-line fs-1"></i>
                        <h5 class="card-title">Assistant compatibilité</h5>
                        <p class="card-text text-muted">Obtenez des détails sur la configuration système minimale
                            requise.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="ri-zoom-in-fill fs-1"></i>
                        <h5 class="card-title">Détails d'application</h5>
                        <p class="card-text text-muted">Obtenez des informations supplémentaires sur l'application avant
                            de l'installer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-0">
                    <div class="card-body text-center">
                        <i class="ri-palette-fill fs-1"></i>
                        <h5 class="card-title">Personnalisation</h5>
                        <p class="card-text text-muted">Personnalisez l'apparence de Quick afin qu'il soit plus pratique
                            pour vous.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="compare text-center mt-4">
        <h2 class="title">Comparaison</h2>
        <p class="text">Ces comparaisons se basent sur <a class="link" href="https://ninite.com/"
                                                          target="_blank">Ninite</a> et <a class="link"
                                                                                        href="https://macapps.link/" target="_blank">macapps.link</a>.
            L'étude a été réalisée en avril 2025.</p>
        <div class="row row-cols-1 row-cols-md-3 g-3 mt-2">
            <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Téléchargement d'application</h5>
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <span class="fw-semibold">Quick</span>
                                <i class="text-success ri-checkbox-circle-fill"></i>
                            </div>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <span class="fw-semibold">Ninite</span>
                                <i class="text-success ri-checkbox-circle-fill"></i>
                            </div>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <span class="fw-semibold">macapps.link</span>
                                <i class="text-success ri-checkbox-circle-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Compatibilité avec Homebrew</h5>
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <span class="fw-semibold">Quick</span>
                                <i class="text-success ri-checkbox-circle-fill"></i>
                            </div>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <span class="fw-semibold">Ninite</span>
                                <i class="text-danger ri-close-circle-fill"></i>
                            </div>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <span class="fw-semibold">macapps.link</span>
                                <i class="text-danger ri-close-circle-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Assistant compatibilité</h5>
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <span class="fw-semibold">Quick</span>
                                <i class="text-success ri-checkbox-circle-fill"></i>
                            </div>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <span class="fw-semibold">Ninite</span>
                                <i class="text-danger ri-close-circle-fill"></i>
                            </div>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <span class="fw-semibold">macapps.link</span>
                                <i class="text-danger ri-close-circle-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Détails d'application</h5>
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <span class="fw-semibold">Quick</span>
                                <i class="text-success ri-checkbox-circle-fill"></i>
                            </div>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <span class="fw-semibold">Ninite</span>
                                <i class="text-danger ri-close-circle-fill"></i>
                            </div>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <span class="fw-semibold">macapps.link</span>
                                <i class="text-danger ri-close-circle-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Personnalisation</h5>
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <span class="fw-semibold">Quick</span>
                                <i class="text-success ri-checkbox-circle-fill"></i>
                            </div>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <span class="fw-semibold">Ninite</span>
                                <i class="text-danger ri-close-circle-fill"></i>
                            </div>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <span class="fw-semibold">macapps.link</span>
                                <i class="text-success ri-checkbox-circle-fill"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="foss text-center mt-4">
        <h2 class="title">Open-source</h2>
        <p class="text"><span class="fw-semibold">Corundum Quick</span> est construit dans un aspect communautaire :
            vous pouvez contribuer à l'amélioration du projet, suggérer des fonctionnalités et des applications…</p>
    </section>
    <section class="why text-center mt-4">
        <h2 class="title">Pourquoi Quick ?</h2>
        <p class="text"><span class="fw-semibold">Corundum Quick</span> est sans doute le moyen le plus
            simple et fiable pour télécharger des applications.</p>
        <p class="text">Compatible avec <span class="fw-semibold">macOS</span> et <span
                class="fw-semibold">GNU/Linux</span> (selon les logiciels) et utilisant <span class="fw-semibold">Homebrew</span>,
            la logithèque de logiciels est impressionnante et adaptée aux besoins de tous.</p>
        <div aria-label="Basic example" class="btn-group" role="group">
            <a class="btn btn-primary" href="https://corundum.fr" target="_blank">Ouvrir <i
                    class="ri-arrow-right-up-line"></i></a>
            <a class="btn btn-secondary" href="#">Retourner en haut</a>
        </div>
    </section>
    <section class="news text-center mt-4">
        <h2 class="title">Actualités</h2>
        <div class="news-container row row-cols-1 row-cols-md-3 g-3 mt-2">
            <div class="card w-100">
                <div class="card-body text-center">
                    <i class="ri-error-warning-line fs-2"></i>
                    <h5 class="card-title">Aucune actualité</h5>
                    <p class="card-text">Aucune actualité n'est disponible pour le moment.</p>
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="container py-5">
    <div class="row">
        <div class="col-6 col-md-2 mb-3">
            <h5>Corundum</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="../about.html">À propos</a>
                </li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="../team.html">Équipe</a>
                </li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="../graphic-charter.html">Charte
                    graphique</a></li>
            </ul>
        </div>
        <div class="col-6 col-md-2 mb-3">
            <h5>Projets</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="maintenance.html">Maintenance</a>
                </li>
                <li class="nav-item mb-2"><a class="nav-link p-0 text-body-secondary" href="quick.html">Quick</a></li>
            </ul>
        </div>
    </div>
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
        <p>Conçu par Corundum</p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis link-underline-opacity-0 fs-3"
                                href="https://www.linkedin.com/company/corundumproject/" target="_blank"><i
                    class="ri-linkedin-fill"></i></a></li>
            <li class="ms-3"><a class="link-body-emphasis link-underline-opacity-0 fs-3"
                                href="https://bsky.app/profile/corundumproject.bsky.social" target="_blank"><i
                    class="ri-bluesky-fill"></i></a></li>
            <li class="ms-3"><a class="link-body-emphasis link-underline-opacity-0 fs-3"
                                href="https://github.com/corundumproject/" target="_blank"><i
                    class="ri-github-fill"></i></a></li>
            <li class="ms-3"><a class="link-body-emphasis link-underline-opacity-0 fs-3"
                                href="https://discord.gg/2zX67vqh6b/" target="_blank"><i
                    class="ri-discord-fill"></i></a></li>
        </ul>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="../../assets/js/projects/quick.js"></script>
</body>
</html>